/* common style */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}


/*------------- header ------------- */
.nav-ber{
    display: flex;
    justify-content: space-around;
}
.list-item ul{
    display: flex;
    gap: 10px;
    list-style: none;
    
}
.list-item ul li a{
    text-decoration: none;
}
.logo ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

/* influncer journey section */

.influncer-journey{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.prebook-btn{
    display: flex;
    align-items: center;
    gap: 3px;
    
}
.image-part{
    position: relative;

}



.main-camera{
    position: absolute;
    
    bottom: 20px;
}


hr{
    width: 1110px;
    
    border-color: #F1E4FF;
}

.logo-sec{
    margin-top: 50px;
}

.logos{
    
    /* display: grid;
    grid-template-columns: repeat(6,1fr); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popular-sec{
    margin-top: 120px;
}

.head-text{
    text-align: center;
}


.popular-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 20px;
    
}



.image-box{
    background-color: #F5FFFA;
    border: solid;
    width: 329px;
    height: 485px;
    border-radius: 10px;
   
    
}

.image{
   padding: 10px;
}

.doller{
   margin-bottom: 5px;
}
.icon{
    margin-top: 3px;
}


.product-sec{
    margin-top: 100px;
}


.products{
    display: flex;
    justify-content: space-evenly;
}



.footer-text{
    
    
    width: 280px;
    height: 150px;
    margin: auto;
    color: white;
    
    
}

.footer-text h2{
    padding-left: 25px;
    padding-top: 15px;
}
.all{
    padding-left: 45px;
}

footer{
    background-color: #0A0826;
    margin-top: 50px;
}


 
@media screen and (max-width:556px){
    header{
        width: 100%;
        
    }
    .title h2{
        padding-left: 10px;
    }
    

    .list-item ul{
        flex-direction: column;
        
        padding: 10px;
        margin: 7px;
        font-size: 16px;
        
        
        
    }

    .logo ul{
        padding-right: 10px;

    }

    .influncer-journey{
       
        flex-direction: column-reverse;
        align-items: center;
    }

    .image-part{
        position: relative;

    }

    .circle img{
        width: 257px;
        height: 257px;
        
    }

    .main-camera img{
        width: 202px;
        height: 202px;
        position: absolute;
        /* bottom: px;  */
        left: 30px; 
        bottom: 5px;
        
    }

    .logos{
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
        padding: 20px;
        grid-row-gap: 15px;
    }

    hr{
        width: 100%;
    }

    .alibaba img{
        width: 33px;
    }
    .amazon img{
        width: 50px;
    }
    .daraz img{
        width: 50px ;
    }
    .ebay img{
        width: 44px;
    }
    
    .rakuten img{
        width: 57px;
    }
    .target img{
        width: 67px;
    }
    .walmart img{
        width: 67px;
    }


    .popular-box{
        display: grid;
        grid-template-columns: 1fr;
        
    }


    .products{
        
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .products img{
        width: 100%;

    }
    .footer-text{
        width: 100%;
        padding: 5px;
    }

    footer{
        width: 100%;
    }
}



